*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container-fluid {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Rosario", sans-serif;
  color: #333333;
  font-size: 1rem;
}

h1 {
  font-family: "Rosario", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Rosario", sans-serif;
}

textarea {
  font-family: "Roboto", sans-serif;
}

button {
  font-family: "Rosario", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

label {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.navbar {
  padding: 0 1rem !important;
}
.navbar-light {
  background-color: #3bccaa !important;
}
.navbar-brand {
  color: #fff !important;
  font-size: 2.25rem !important;
  letter-spacing: 0.2rem;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar__search {
  border: solid thin #333333;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  height: 2.25rem;
}
@media (min-width: 1200px) {
  .navbar__search {
    width: 70%;
  }
}
.navbar__search span {
  padding: 0 0.75rem;
}
.navbar__search input {
  height: 2.25rem;
  width: 100%;
  border: 0;
  border-radius: 0.35rem;
}
.navbar a {
  text-decoration: none;
  color: #333333;
}
.navbar a span {
  padding: 0 0.75rem;
}
.navbar__login {
  border: solid thin #333333;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  height: 2.25rem;
  cursor: pointer;
  margin: 0.5rem 0;
}
.navbar__login:hover {
  background-color: #333333;
}
.navbar__login:hover a {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar__login {
    margin-left: 1rem;
  }
}
.navbar__addRecipe {
  border: solid thin #333333;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  height: 2.25rem;
  cursor: pointer;
  margin: 0.5rem 0;
}
.navbar__addRecipe:hover {
  background-color: #333333;
}
.navbar__addRecipe:hover a {
  color: #fff;
}
@media (min-width: 768px) {
  .navbar__addRecipe {
    margin-left: 1rem;
  }
}

#navbar-addRecipe.navbar {
  padding: 0 1rem !important;
}
#navbar-addRecipe.navbar-light {
  background-color: #f48574 !important;
}
#navbar-addRecipe.navbar-brand {
  color: #fff !important;
  font-size: 2.25rem !important;
  letter-spacing: 0.2rem;
}
#navbar-addRecipe.navbar-collapse {
  justify-content: flex-end;
}
#navbar-addRecipe.navbar .navbar__search {
  border: solid thin #333333;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  height: 2.25rem;
}
@media (min-width: 1200px) {
  #navbar-addRecipe.navbar .navbar__search {
    width: 70%;
  }
}
#navbar-addRecipe.navbar .navbar__search span {
  padding: 0 0.75rem;
}
#navbar-addRecipe.navbar .navbar__search input {
  height: 2.25rem;
  width: 100%;
  border: 0;
  border-radius: 0.35rem;
}
#navbar-addRecipe.navbar .navbar a {
  text-decoration: none;
  color: #333333;
}
#navbar-addRecipe.navbar .navbar a span {
  padding: 0 0.75rem;
}
#navbar-addRecipe.navbar .navbar__login {
  border: solid thin #333333;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  height: 2.25rem;
  cursor: pointer;
  margin: 0.5rem 0;
}
#navbar-addRecipe.navbar .navbar__login:hover {
  background-color: #333333;
}
#navbar-addRecipe.navbar .navbar__login:hover a {
  color: #fff;
}
@media (min-width: 768px) {
  #navbar-addRecipe.navbar .navbar__login {
    margin-left: 1rem;
  }
}
#navbar-addRecipe.navbar .navbar__addRecipe {
  border: solid thin #333333;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-right: 0.75rem;
  height: 2.25rem;
  cursor: pointer;
  margin: 0.5rem 0;
}
#navbar-addRecipe.navbar .navbar__addRecipe:hover {
  background-color: #333333;
}
#navbar-addRecipe.navbar .navbar__addRecipe:hover a {
  color: #fff;
}
@media (min-width: 768px) {
  #navbar-addRecipe.navbar .navbar__addRecipe {
    margin-left: 1rem;
  }
}

.form--username {
  border: solid thin #f48574;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  height: 1rem;
  margin: 0.75rem 0;
}
.form--username input {
  height: 2.25rem;
  border: 0;
  padding-left: 0.75rem;
}

.form--password {
  border: solid thin #f48574;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  height: 1rem;
  margin: 0.75rem 0;
}
.form--password input {
  height: 2.25rem;
  border: 0;
  padding-left: 0.75rem;
}

.form--confirmPassword {
  border: solid thin #f48574;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  height: 1rem;
  margin: 0.75rem 0;
}
.form--confirmPassword input {
  height: 2.25rem;
  border: 0;
  padding-left: 0.75rem;
}

.form--email {
  border: solid thin #f48574;
  border-radius: 0.35rem;
  color: #333333;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  height: 1rem;
  margin: 0.75rem 0;
}
.form--email input {
  height: 2.25rem;
  border: 0;
  padding-left: 0.75rem;
}

.form--btn {
  background-color: #f48574;
  display: flex;
  padding: 0.25rem 0.75rem;
  border: solid thin #f48574;
  border-radius: 0.35rem;
}
.form--btn a {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
.form--btn:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
}
.form--btn:hover a {
  color: #f48574;
}

.recipe-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem 3rem;
}
.recipe-preview:hover img {
  opacity: 0.3;
}
.recipe-preview:hover .recipe-information {
  opacity: 1;
}
.recipe-preview__picture {
  position: relative;
}
.recipe-preview__picture img {
  opacity: 1;
  width: 200px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.recipe-preview__picture .recipe-information {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.recipe-preview__picture .recipe-information__text {
  color: #333333;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin-bottom: -10px;
}
.recipe-preview__picture .recipe-information__text p {
  margin-left: -0.75rem;
  margin-bottom: 0.75rem;
}
.recipe-preview__picture .recipe-information i {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}
.recipe-preview__picture .recipe-information__text__diffulty img {
  opacity: 1;
  width: 1.75rem;
  margin-right: 0.75rem;
  margin-left: 1rem;
  margin-top: -5px;
}
.recipe-preview__picture .recipe-information__text__favorites {
  width: 200px;
  margin-left: -25px;
}
.recipe-preview__picture .recipe-information__text__favorites i {
  margin-right: 0.35rem;
}
.recipe-preview__picture .recipe-information hr {
  border-top: solid #333333 thin;
  margin: 0.5rem 0;
}
.recipe-preview__creator {
  background-color: #3bccaa;
  padding: 0.25rem 1rem;
  border-radius: 0.35rem;
  color: white;
  font-size: 0.85rem;
  text-align: center;
  font-weight: 700;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.recipe-preview__creator i {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}
.recipe-preview__creator__by {
  font-weight: lighter;
  font-size: 0.7rem;
}
.recipe-preview__title {
  padding: 1rem;
  padding-bottom: 1.1rem;
  border: solid thin #3bccaa;
  border-radius: 0.35rem;
  border-width: 0.375rem;
  width: 155px;
  text-align: center;
  border-radius: 0rem 0rem 1.5rem 1.5rem;
}
.recipe-preview__title h4 {
  font-size: 1.25rem;
}

.filters {
  border: solid #3bccaa 0.375rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1.5rem 0.5rem;
  width: inherit;
  min-width: 275px;
}
.filters__heading {
  color: #3bccaa;
  text-align: center;
}
.filters__heading hr {
  margin-top: 0.5rem;
  border-top: solid #3bccaa 0.125rem;
}
.filters__difficulty h4 {
  margin-bottom: 1.25rem !important;
}
.filters .options {
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.filters h4 {
  margin-bottom: 0.5rem;
}
.filters--open {
  display: none;
  text-align: center;
  color: gray;
  margin-top: -5px;
  margin-left: -12px;
}
.filters--open span {
  position: relative;
}
.filters--open i {
  font-size: 1.5rem;
  margin-left: 5px;
  position: absolute;
  transform: translate(25%, -25%);
}
.filters--close {
  display: none;
  text-align: center;
  color: gray;
  margin-top: -5px;
  margin-left: -12px;
}
.filters--close span {
  position: relative;
}
.filters--close i {
  font-size: 1.5rem;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(25%, -25%);
}

.range {
  position: relative;
  width: 180px;
  height: 5px;
}

.range input {
  width: 100%;
  position: absolute;
  top: 2px;
  height: 0;
  -webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #3bccaa;
  cursor: pointer;
  border: 0 !important;
}
.range input::-moz-range-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #3bccaa;
  cursor: pointer;
  border: 0 !important;
}
.range input::-ms-thumb {
  width: 18px;
  height: 18px;
  margin: -8px 0 0;
  border-radius: 50%;
  background: #3bccaa;
  cursor: pointer;
  border: 0 !important;
}
.range input::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #b2b2b2;
}
.range input:focus {
  background: none;
  outline: none;
}
.range input::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.range-labels {
  margin: 18px -41px 0;
  padding: 0;
  list-style: none;
}
.range-labels li {
  position: relative;
  float: left;
  width: 88.25px;
  text-align: center;
  color: #b2b2b2;
  font-size: 14px;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}
.range-labels .active {
  color: #3bccaa;
}
.range-labels .selected::before {
  background: #3bccaa;
}
.range-labels .active.selected::before {
  display: none;
}

#addRecipe.container-fluid {
  overflow: visible;
}

.addRecipe {
  margin: 2% 2.5%;
  justify-content: space-between;
}
.addRecipe .addRecipe-container .btn_nextStep {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  padding: 0.25rem 1.5rem;
  font-size: 1.35rem;
  text-align: center;
  width: max-content;
  border: solid thin #f48574;
  border-radius: 0.35rem;
  border-width: 2px;
  background-color: #f48574;
}
.addRecipe .addRecipe-container .btn_nextStep a {
  color: white;
  font-weight: 900;
}
.addRecipe .addRecipe-container .btn_nextStep:hover {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.addRecipe .addRecipe-container .btn_nextStep:hover a {
  color: #f48574;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .addRecipe .addRecipe-container .btn_nextStep {
    bottom: -75px;
    left: 0;
  }
}
.addRecipe__heading {
  margin-bottom: 1.5rem;
}
.addRecipe__heading .vertical-separator {
  width: 0;
  background-color: #f48574;
  border: solid #f48574 thick;
  border-radius: 2rem;
  margin-right: 0.75rem;
}
.addRecipe__heading h1 {
  padding: 8px 0;
}
@media (max-width: 576px) {
  .addRecipe__heading h1 {
    font-size: 2rem;
  }
}
.addRecipe__content {
  justify-content: space-between;
}
.addRecipe__content .content__heading {
  margin-bottom: 1rem;
}
.addRecipe__content .content__heading .vertical-separator {
  width: 0;
  background-color: #f48574;
  border: solid #f48574 thick;
  border-radius: 2rem;
  margin-right: 0.75rem;
}
.addRecipe__content .content__heading h3 {
  padding: 8px 0;
}
.addRecipe .summary-container {
  border: solid #f48574 thick;
  padding: 1rem;
  border-radius: 1rem;
}
@media (max-width: 576px) {
  .addRecipe .summary-container {
    margin-top: 100px;
  }
}
.addRecipe .summary__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f48574;
}
.addRecipe .summary__heading hr {
  width: 80%;
  border-top: solid #f48574 2px;
}

body.log {
  background-color: #f48574;
}

.containerLog {
  background-color: #fff;
  padding: 1rem 2.5rem;
  border: solid thin #fff;
  border-radius: 0.35rem;
}
.containerLog__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerLog__heading h4 {
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.containerLog__heading h4 span {
  color: #f48574;
  padding-left: 0.25rem;
  letter-spacing: normal;
  font-weight: normal;
}
.containerLog__heading h4 img {
  padding: 0 0.35rem;
}
.containerLog__heading hr {
  width: 100%;
}
.containerLog__footing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerLog__footing h5 a {
  color: #f48574;
  padding-left: 0.25rem;
  letter-spacing: normal;
}
.containerLog__footing h5 span {
  letter-spacing: 0.2rem;
  font-weight: 700;
}
.containerLog__footing hr {
  width: 100%;
}

.all-recipes {
  margin: 1.5rem 0 1.5rem 3rem;
}

@media (min-width: 576px) and (max-width: 1500px) {
  .categories {
    padding-left: 5rem;
  }
}
.categories ul {
  list-style: none;
  display: flex;
}
.categories ul li {
  cursor: pointer;
  font-size: 2rem;
  color: #636b75;
  width: 160px;
  text-align: center;
  margin: 0.75rem;
}
@media (max-width: 576px) {
  .categories ul li {
    font-size: 1.25rem;
    width: 90px;
    margin: 0 0.25rem;
  }
}
.categories ul li#selected {
  color: #333333;
  border-bottom: solid #3bccaa 0.25rem;
}

.recipe-preview-container {
  padding: 0 0 0 10rem;
}
@media (max-width: 576px) {
  .recipe-preview-container {
    padding: 0;
    justify-content: center;
    margin-left: -60px;
    margin-top: 1.5rem;
  }
}

.step1 > div {
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
}
.step1 .content__nameRecipe {
  border: solid 2px #f48574;
  border-radius: 0.35rem;
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: 1.35rem;
}
.step1 .content_mainInformation > div {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step1 .content_mainInformation img {
  width: 3rem;
  height: 3rem;
}
.step1 .content_mainInformation input {
  border: solid 2px #f48574;
  border-radius: 0.35rem;
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: 1.35rem;
}
.step1 .content_ingredients {
  margin-bottom: 1rem;
}
.step1 .content_ingredients .row {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .step1 .content_ingredients .row {
    justify-content: flex-start;
  }
}
.step1 .content_ingredients .row > div {
  padding: 0;
}
.step1 .content_ingredients input {
  border: solid 2px #f48574;
  border-radius: 0.35rem;
  width: 100%;
  padding: 0.25rem 1rem;
  font-size: 1.35rem;
}
.step1 .content_ingredients .quantity {
  width: 100%;
  display: flex;
  justify-content: end;
}
@media (max-width: 576px) {
  .step1 .content_ingredients .quantity {
    justify-content: flex-start;
  }
}
.step1 .btn_addIngredient {
  padding: 0.25rem 1rem;
  font-size: 1.35rem;
  border: solid thin #f48574;
  border-radius: 0.35rem;
  border-width: 2px;
  background-color: #f48574;
  color: white;
}
.step1 .btn_addIngredient:hover {
  background-color: white;
  color: #f48574;
  text-decoration: underline;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*# sourceMappingURL=style.css.map */
