body {
    font-family: "Rosario", sans-serif;
    color: $colour-primary;
    font-size: 1rem;
}

h1 {
    font-family: "Rosario", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

textarea {
    font-family: "Roboto", sans-serif;
}

button {
    font-family: "Rosario", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}
