body {
    font-family: "Rosario", sans-serif;
    color: $colour-darkgray;
    font-size: 1rem;
}

h1 {
    font-family: "Rosario", sans-serif;
    font-size: 3rem;
    font-weight: bold;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rosario", sans-serif;
}

textarea {
    font-family: "Roboto", sans-serif;
}

button {
    font-family: "Rosario", sans-serif;
}

p {
    font-family: "Roboto", sans-serif;
}

label {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
