@mixin border {
    border: solid thin $colour-darkgray;
    border-radius: $border-radius;
}

@mixin navbar__elements {
    @include border;
    color: $colour-darkgray;
    background-color: $colour-white;
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
    height: 2.25rem;
    margin-left: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $colour-darkgray;

        a {
            color: $colour-white;
        }
    }
}
