$colour-primary: #3bccaa;
$colour-secondary: #f48574;
$colour-darkgray: #333333;
$colour-white: #fff;
$colour-lightgray: #f8f9fa;

$border-radius: 0.35rem;
$shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-hover: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
